<nav class="navbar navbar-expand bg-secondary fs-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Employees" routerLinkActive="active">Employees</a>

    <a class="nav-link" routerLink="/Departments" routerLinkActive="active">Departments</a>


    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/Departments" routerLinkActive="active">Departments</a> -->
        </li>




      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
